
<section>
  <div class="card list-show fade-in">
    <a href="/"> <%= cl_image_tag (current_user.image.key), crop: :thumb , id: "avatar-lists"%></a>
    <h2 class="text-4xl font-bold"><%= current_user.nickname %>'s lists!</h2>
    <% @lists.each do |list| %>
        <%= link_to list.title, list_path(list), class: "text-2xl w-full border-2 rounded-2xl py-1" %>
    <% end %>
    <div class="controls mt-3">
      <%= link_to "Add your list" , new_list_path, class: "add " %>
    </div>
  </div>
</section>
