<section>
  <div class="card list fade-in">
    <a href="/lists" class="back"><i id="arrow-left" class="fa-solid fa-arrow-left-long"></i></a>
    <div class="list-show-actions">
      <%= link_to list_path,class: "trash", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do%>
        <i class="fa-solid fa-trash-can"></i>
      <% end %>
      <h2 class="text-3xl font-bold"><%= @list.title %></h2>
      <% @list.items.each do |item| %>
        <div class="w-full relative"  data-controller="delete" >
          <%# <button class="trash-index" data-action="click->delete#delete" data-delete-target="trash"><i class="fa-solid fa-trash-can"></i></button> %>
          <button class="border-2 rounded-2xl w-full py-2" data-delete-target="item" data-controller="completed" data-action="click->completed#handle"><%= item %></button>
        </div>
      <% end %>
    </div>
    <div class="controls">
    </div>
  </div>
</section>
