<section>
  <div class="card list-show fade-in">
    <a class="back" href="/lists">🠔back</a>
    <div class="list-show-actions">
      <%= link_to list_path,class: "trash", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do%>
        <i class="fa-solid fa-trash-can"></i>
      <% end %>
      <h2 class="text-5xl font-bold"><%= @list.title %></h2>
    </div>
    <% @list.items.each do |item| %>
      <div class="w-full">
        <button class="border-2 rounded-2xl w-full py-2" data-controller="completed" data-action="click->completed#handle" ><%= item %></button>
      </div>
    <% end %>
  </div>
</section>
