<%# <section> %>
  <div class="card about fade-in">
    <div class="about-header">
      <%= image_tag "about dev.png", crop: :thumb, id: "avatar" %>
      <h1 id="about-h1">Hello my name is<br><span>Luís Henrique</span></h1>
    </div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at nibh ac urna scelerisque aliquet. Praesent auctor risus eget massa tempor dignissim ac a nunc. Etiam in massa bibendum, ultrices justo non, congue diam. Cras feugiat turpis ut fringilla tincidunt. Nunc sed leo efficitur, ultrices metus placerat, venenatis dui. Donec dapibus tellus ut porta pellentesque. Praesent blandit nibh in nulla vulputate sodales. <br>
      Nullam ullamcorper ullamcorper metus sed lacinia. Sed blandit, ipsum lacinia commodo rhoncus, nulla elit feugiat nisl, sit amet sodales dui arcu non mauris. Proin nec purus et tortor posuere ornare. Morbi quis accumsan justo. Praesent euismod risus felis, nec iaculis velit dignissim vel. In egestas velit nec neque vestibulum, vel commodo felis egestas. Fusce feugiat molestie quam, imperdiet suscipit justo rutrum ut. Pellentesque vel cursus lectus. Praesent quis augue lorem. Vivamus ante metus, facilisis at neque at, bibendum aliquet dui. Phasellus vulputate eget dolor in interdum. <br>
      Praesent nisi mauris, consequat eget enim in, dignissim volutpat lacus. Donec a mauris porttitor risus volutpat laoreet sit amet vitae lectus. Vestibulum augue erat, congue ac nunc id, vestibulum finibus mi. Nullam ornare et nibh vitae semper. In hac habitasse platea dictumst. Pellentesque euismod vel tortor ut fermentum. Vestibulum consectetur nunc at. <br>
    </p>
    <div class="links">
      <a target="#" href="#"><i class="fa-brands fa-linkedin-in"></i></a>
      <a target="#" href="#"><i class="fa-brands fa-instagram"></i></a>
      <a target="#" href="#"><i class="fa-brands fa-facebook"></i></a>
    </div>
    <a href="/" class="back-about">Go to the home page!</i></a>
  </div>
<%# </section> %>
